<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - ShopEasy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            🛒 ShopEasy
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </div>

    </nav>


    <section class="recommendations">

        <h2>Login</h2>

        <form action="/login" method="POST">

            <p>
                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                >
            </p>

            <p>
                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                >
            </p>

            <p>
                <button type="submit" class="btn">
                    Login
                </button>
            </p>

        </form>

        <p>
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </section>

</body>

</html>
