<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Recommendations - ShopEasy</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            🛒 ShopEasy
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/recommendations">Recommendations</a>
            <a href="/login">Login</a>
        </div>

    </nav>


    <section class="recommendations">

        <h2>🤖 AI-Powered Suggestions</h2>

        <p>
            Products selected based on your interests.
        </p>

        <br>

        <div class="products">

            {% for product in products %}

            <div class="product-card">

                <div class="icon">⭐</div>

                <h3>{{ product.name }}</h3>

                <p>{{ product.category }}</p>

                <h3>₹{{ product.price }}</h3>

                <p>{{ product.description }}</p>

                <p>
                    Available Stock: {{ product.stock }}
                </p>

            </div>

            {% endfor %}

        </div>

    </section>

</body>

</html>
