<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register - ShopEasy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">🛒 ShopEasy</div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
    </nav>


    <section class="recommendations">

        <h2>Create Account</h2>

        <form action="/register" method="POST">

            <p>
                <input
                    type="text"
                    name="name"
                    placeholder="Enter your name"
                    required
                >
            </p>

            <p>
                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                >
            </p>

            <p>
                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                >
            </p>

            <p>
                <button type="submit" class="btn">
                    Register
                </button>
            </p>

        </form>

        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </section>

</body>

</html>
